# Ignore virtual environment
venv/

# Ignore node_modules (React dependencies)
frontend/node_modules/

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# Ignore environment config files
.env

# Ignore build files
frontend/dist/
frontend/.vite/
